appdirs==1.4.4
asgiref==3.3.1
distlib==0.3.1
Django==3.1.6
django-password-reset==2.0
docutils==0.16
filelock==3.0.12
Markdown==3.3.3
Pillow==8.1.0
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
virtualenv==20.4.0
virtualenvwrapper-win==1.2.6
